<div style="padding-bottom:180px;">
  <h1 style="font-size:20px;padding:10px">New post</h1>

  <%= render "form", post: @post %>

  <br>

  <div>
    <%= link_to posts_path do %>
      <button style="font-size:20px;padding:10px;">Back to posts</button>
    <% end %>
  </div>
</div>
